.escape-section {
  background: white;
}

.escape-title {
  font-size: 48px;
  font-weight: 600;
  font-family: "Cinzel", serif;
  color: #7a8f55;
  line-height: 1.2;
}

.escape-title span {
  color: black;
}

.escape-desc {
  font-size: 15px;
  color: #555;
  width: 80%;
}

.escape-btn {
  background: #7a8f55;
  border-radius: 50px;
  border: none;
  font-size: 16px;
}

.right-main-img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}



.enquiry-box {
  background: white;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.enquiry-box input,
.enquiry-box select {
  height: 45px;
}

.location {
  font-size: 18px;
  margin-bottom: 15px;
}

.form-check .form-check-input {
  height: 20px;
  width: 20px;
}

